<% content_for :title, "Editing movie" %>

<h1>Editing movie</h1>

<div id="movies">
  <%= render "form", movie: @movie %>
</div>

<div id="movies">
  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <td colspan="1"><%= link_to "Back", @movie, class: "btn" %></td>
        <td colspan="1"><%= link_to "Back to movies", movies_path, class: "btn" %></td>
      </tr>
    </tbody>
  </table>
</div>