<% content_for :title, "New movie" %>

<h1>New movie</h1>

<div id="movies">
  <%= render "form", movie: @movie %>
</div>

<div id="movies">
  <table>
    <tbody>
      <tr>
        <td colspan="1"><%= link_to "Back to movies", movies_path, class: "btn" %></td>
      </tr>
    </tbody>
  </table>
</div>